@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);


*{
    background-color: $Lightgray;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: $White;
    
    max-width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    

    
    img{
        width: 220px;
        border-radius: 10px;
    }

    h2{
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        color: $Darkblue;
        font-size: 1.2rem;
        background-color: white;
    }
    p{
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        color: $Grayishblue;
        background-color: white;
    }
}